@model synth.Models.Synthesizer


<h1>@Model.Name</h1>
<div>
    ID: @Model.Id
</div>
<div>
    Name: @Model.Name
</div>
<div>
    Type of synthesizer: @Model.SynthType
</div>
<div>Details</div>

<a asp-action="Index" asp-controller="Home">Home</a>
