@model synth.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
    
}

<h1>All Synthesizers</h1>
@foreach(var synthesizer in Model.Synthesizers)
{
    @Html.Partial("_Summary",synthesizer)
}

<div>
    <a asp-action="Create">Add Synthesizer</a>
</div>
